<div>

<h2>About the Danube Reference Data and Service Infrastructure (DRDSI)</h2>

<p>The Joint Research Centre (JRC) of the European Commission is coordinating an initiative
aiming to provide scientific support to the European Union Strategy for the Danube Region
(EUSDR) focusing on four vertical priorities: environment protection, irrigation and agricultural
development, navigability and energy production. As a transversal priority, the initiative also
aims to support the development of Smart Specialisation strategies for innovation in the
Danube Region.</p>
<p>The initiative was launched in close cooperation with key scientific partners of the Danube
Region. Through an integrated approach relying on different flagship clusters, the JRC and its
scientific partners will gather essential scientific expertise and data to help decision-makers
and other stakeholders of the Danube Region to identify the policy measures and actions
needed for the implementation of the EU Strategy of the Danube Region.</p>

</div>

