<div class="intro-welcome box-title">
   <h2>What is this Data Portal about?</h2>
      <div class="inner">
         <div id="homepage-content-body">
            <p> Test site for Danube Reference Data and Service Infrastructure Data Portal</p>
            <p>You have come to the right place. The DRDSI Open Data Portal is your single point of access to a growing range of data produced by the institutions and other bodies of the European Union.</p>
            <p>Data are free to use, reuse, link and redistribute for commercial or non-commercial purposes?</p>
         </div>
      </div>
   </h2>
</div>

